.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Styles for the image container in the about section */
.about-img-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7px;
}

/* Styles for the mobile image */
.mobile-img {
  width: 80px;
  min-width: 468px;
}

/* Hide mobile image on screens wider than 767px */
@media screen and (min-width: 768px) {
  .mobile-img {
    display: none;
  }
}

/* Styles for the main image */
.img {
  width: 100%;
  max-width: 1110px;
}

/* Hide main image on screens smaller than 768px */
@media screen and (max-width: 767px) {
  .img {
    display: none;
  }
}
